
.general-button {
    background: rgb(51, 150, 207);
    border-radius: 5px;
    color: white;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 150px;
    margin-top: 10px;
    margin-right: 10px;
	cursor: pointer;
}

.table-button {
    border-radius: 5px;
    background: white;
    border: 1px solid black;
    width: 100px;
    margin-top: 10px;
    cursor: pointer;
}

.data-text {
    font-style: italic;
    font-weight: bold;
}

.border-table {
    border: 1px solid black;
    border-collapse: collapse;
    height: 30px;
}

.sort-buttons {
    float: right;
    margin-left: 10px;
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
    border-bottom: 10px solid black;
    margin-bottom: 3px;
    cursor: pointer;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid black;
    cursor: pointer;
}

td {
    padding-left: 25px;
    padding-right: 25px;
}