<h1>Atlanta Beltline Project</h1>

<form name="myForm" id="loginForm">
  {{#if invalidLogin}}
  <p class="error">Sorry, but your email or password were incorrect :(</p>
  {{/if}}
  <table>
    <tr>
      <td>Email:</td>
      <td><input type="text" name="email" id="email"></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><input type="password" name="password" id="password"></td>
    </tr>
  </table>
  <button class="general-button" id="login" type="submit">Login</button>
  <button class="general-button" id="register" onclick="register()">Register</button>
</form>